[submodule "externals/solarized"]
	path = externals/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/vundle.git
